body{
	bottom: 0;
}

#topbar{
	background-color: #000;
	height: 40px;
}

.col-centered{
	float: none;
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 60px;
}

.searchbar{
	height: 0px;
	margin: 0px;
	margin-bottom: 0px;
}

.col-centered2{
	float: none;
	width: 400px;
	margin: 0 auto;
	padding-left: 50px;
	margin-bottom: 120px;
}

.button{
	color: #777777;
	background-color: #eeeeee;
	border: none;
	font-size: 8;
	margin: 10px;
	margin-top: 0px;
	height: 34px;	
	font-weight: bold;
}

.lucky{
	width: 150px;
}

.botleft{
	background-color: #eeeeee;
	display: inline-block;
	width: 100%;
	bottom: 0;
	height: 40px;
	line-height: 40px;
}

a{
	font-size: 13px;
	padding: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: #777777;
}