body{
	bottom: 0;
}

header{
	margin-top: 10px;
}
#topbar{
	display: inline-block;
	height: 40px;
	margin-left: 76%;
	line-height: 40px;
}

a.top{
	color: #777777;
}

a{
	margin-left: 3px;
	font-size: 13px;
	padding: 14px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: #777777;
}

img.top{
	margin-left: 10px;
	margin-right:10px;
}

.col-centered{
	float: none;
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 60px;
}

.searchbar{
	height: 0px;
	margin: 0px;
	margin-bottom: 0px;
}

.col-centered2{
	float: none;
	width: 400px;
	margin: 0 auto;
	padding-left: 50px;
	margin-bottom: 110px;
}

.button{
	display: inline-block;
	padding: 10px;
	padding-top: 5px;
	color: #777777;
	background-color: #eeeeee;
	border: none;
	font-size: 8;
	margin: 10px;
	margin-top: 0px;
	height: 30px;	
	font-weight: bold;
}

.lucky{
	width: 150px;
}

.botleft{
	background-color: #eeeeee;
	display: inline-block;
	width: 100%;
	bottom: 0;
	height: 40px;
	line-height: 40px;
}

a.right{
	padding-left: 805px;
}